<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <link type="text/css" rel="stylesheet" href="~/css/style.css">
    <title>Meal Planning</title>
</head>
<body>

    
    <h2>Meal Planning</h2>
    <div class="left_panel">
        <div>
            <label>Search by recipe name</label>
            <input type="text" class="search__recipename" placeholder="search">
            <button class="btn_search_recipename">Search</button>
        </div>
        <div>
            <label>Search by ingredient name</label>
            <input type="text" class="search__ingredient" placeholder="search">
            <button class="btn_search_ingredient">Search</button>
        </div>

        <div class="Recipe_list">
            <h3 class="result_text">Result</h3>
            <ul class="Recipe_list_items">

            </ul>

        </div>
             
    </div>

    <div class="right_panel">
        <h4>Shopping List:</h4>
        <div class="shopping_list" onload="">
            <ul class="shopping_list_items">
                
            </ul>
        </div>
    </div>
    
    <script src="~/js/mealPlanning.js"></script>

</body>
</html>