@{
    ViewData["Title"] = "Home Page";
}


    <div class="container">

        <p>@Html.ActionLink("all ingredients", "Ingredients", "Recipe")</p>
        <p>@Html.ActionLink("all measurement unit", "MeasurementUnits", "Recipe")</p>

    </div>


